@model IEnumerable<BLL.DTOs.SessionDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SessionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SessionId }) |
            @Html.ActionLink("Details", "Details", new { id = item.SessionId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SessionId })
        </td>
    </tr>
}

</table>
