@model BLL.DTOs.EducationLevelDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EducationLevelDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EducationLevelId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationLevelId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationLevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationLevelName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.EducationLevelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
